<!DOCTYPE html>
<html lang="en">

<head>

  <!-- Page Information
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>Darmawan</title>
  <meta name="description" content="Hello, world!">
  <meta name="author" content="Darmawan">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">


  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="/css/normalize.css">

    <!-- Themes:
            Auto:   /css/skeleton-auto.css
            Light:  /css/skeleton-light.css
            Dark:   /css/skeleton-dark.css
     -->
    <link rel="stylesheet" href="/css/skeleton-auto.css">

    <!-- Brand Styles -->
    <link rel="stylesheet" href="/css/brands.css">


  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="icon" type="image/png" href="https://g.top4top.io/p_2960iglcl1.png">

</head>

<body>

    <%- body %>

</body>

</html>
