<% if (success_msg !='' ) { %>
    <figure class="notification">
        <div class="notification__body">
            <div class="notification__description">
                <div class="icon__wrapper">
                    <svg
                    xmlns="http://www.w3.org/2000/svg" width="24" height="24" 
                    viewBox="0 0 24 24" stroke-width="2" stroke="currentColor"
                    fill="none" stroke-linecap="round" stroke-linejoin="round"
                >
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                    <path d="M5 12l5 5l10 -10"></path>
                 </svg>
            </div>            
                </div>                    
                <%- success_msg %>
            </div> 
        </div>
        <div class="notification__progress"></div>
    </figure>
<% } %>

<% if (warning_msg !='' ) { %>
	<script>
		Swal.fire({
		title: 'Warning!',
		text: '<%- warning_msg %>',
		icon: 'warning',
		confirmButtonText: 'Oke'
		})
	</script>
<% } %>

<% if (error_msg !='' ) { %>
    <figure class="notification">
        <div class="notification__body">
            <div class="notification__description">
                <div class="icon__wrapper">
                    <svg
                    xmlns="http://www.w3.org/2000/svg" width="24" height="24" 
                    viewBox="0 0 24 24" stroke-width="2" stroke="currentColor"
                    fill="none" stroke-linecap="round" stroke-linejoin="round"
                >
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                    <path d="M18 6L6 18M6 6l12 12"></path>
                </svg>
                </div>                   
                <%- error_msg %>
            </div> 
        </div>
        <div class="notification__progress"></div>
    </figure>
<% } %>