
<!doctype html>
<html lang="en">

<head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Check Transaction | Hosei APIs</title>
    <!-- secondary Meta Tags -->
    <meta name="description" content="Hosei adalah sebuah Provides API yang menyediakan berbagai banyak fitur API yang bisa di gunakan untuk bot development, web development, etc." />
    <meta name="keywords" content="Hosei APIs, Panel SMM, SMM Panel, Panel SMM Termurah, Panel SMM Indonesia, Jasa Sosial Media, Jasa Sosmed, Followers Instagram, Followers Instagram Gratis, Suntik Followers, Layanan Sosmed, Layanan Sosial Media." />
    <meta name="author" content="Darmawan">
    <meta name="robots" content="index, follow, max-snippet:-1, max-video-preview:-1, max-image-preview:large" />
    <link rel="canonical" href="https://hosei.xyz/" />
    <!-- Open Graph / Facebook -->
    <meta property="og:url" content="https://hosei.xyz/">
    <meta property="og:title" content="Check Transaction | Hosei APIs">
    <meta property="og:description" content="Hosei adalah sebuah Provides API yang menyediakan berbagai banyak fitur API yang bisa di gunakan untuk bot development, web development, etc.">
    <meta property="og:image" content="https://i.ibb.co.com/KDNkssr/IMG-20240603-173706-729.jpg">
    <meta property="og:image:secure_url" content="https://i.ibb.co.com/KDNkssr/IMG-20240603-173706-729.jpg" />
    <meta property="og:image:type" content="image/jpg" />
    <meta property="og:image:width" content="3000" />
    <meta property="og:image:height" content="3000" />
    <meta property="og:image:alt" content="Hosei APIs" />
    <meta property="og:locale" content="id_ID" />
    <meta property="og:type" content="website" />
    <meta property="og:site_name" content="Hosei APIs" />
    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="https://hosei.xyz/">
    <meta property="twitter:title" content="Check Transaction | Hosei APIs">
    <meta property="twitter:description" content="Hosei adalah sebuah Provides API yang menyediakan berbagai banyak fitur API yang bisa di gunakan untuk bot development, web development, etc.">
    <meta property="twitter:image" content="https://i.ibb.co.com/KDNkssr/IMG-20240603-173706-729.jpg">
    <meta name="google-site-verification" content="IBV-YVKl7vqtbTjvPUPT36tXamTzTQyodyciX5eIjz8" />

    <!-- App favicon -->
    <link rel="icon" href="https://i.ibb.co.com/KDNkssr/IMG-20240603-173706-729.jpg" type="image/x-icon" />
    <link rel="shortcut icon" href="https://i.ibb.co.com/KDNkssr/IMG-20240603-173706-729.jpg" />
    <link rel="icon" href="https://i.ibb.co.com/KDNkssr/IMG-20240603-173706-729.jpg" sizes="32x32" />
    <link rel="icon" href="https://i.ibb.co.com/KDNkssr/IMG-20240603-173706-729.jpg" sizes="192x192" />
    <link rel="apple-touch-icon" href="https://i.ibb.co.com/KDNkssr/IMG-20240603-173706-729.jpg" />
    <meta name="msapplication-TileImage" content="https://i.ibb.co.com/KDNkssr/IMG-20240603-173706-729.jpg" />

    <!-- [Font] Family -->
    <link rel="stylesheet" href="/css/inter.css" id="main-font-link" />
    <!-- prism css -->
    <link rel="stylesheet" href="/css/yas.css">
    <!-- [Tabler Icons] https://tablericons.com -->
    <link rel="stylesheet" href="/css/icon.css" />
    <!-- [Feather Icons] https://feathericons.com -->
    <link rel="stylesheet" href="/css/feather.css" />
    <!-- [Font Awesome Icons] https://fontawesome.com/icons -->
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" />
    <!-- [Material Icons] https://fonts.google.com/icons -->
    <link rel="stylesheet" href="/css/material.css" />
    <!-- [Page specific CSS] start -->
    <link rel="stylesheet" href="/css/flatpickr.min.css">

    <!-- [Template CSS Files] -->
    <link rel="stylesheet" href="/css/style.css" id="main-style-link" />
    <link rel="stylesheet" href="/css/style-preset.css" />
    <link rel="stylesheet" href="/css/plugins/croppr.min.css" />
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery.blockUI/2.70/jquery.blockUI.min.js"></script>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" />
    <script src="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/@sweetalert2/theme-minimal/minimal.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.js"></script>
    <!-- [Page specific CSS] start -->
   

</head>

<body data-pc-theme_contrast="true" data-pc-sidebar-caption="true" data-pc-preset="preset-1" data-pc-direction="ltr" data-pc-theme="dark">


	<%- include('msg') %>
		<%- body %>

</body>

    <!-- Required Js -->
    <script src="/js/popper.min.js"></script>
    <script src="/js/simplebar.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/custom-font.js"></script>
    <script src="/js/pcoded.js"></script>
    <script src="/js/feather.min.js"></script>
    <script src="/js/prism.js"></script>
    <script src="/js/croppr.min.js"></script>
    <script src="/js/flatpickr.min.js"></script>
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script>
        if (!($(".modal").data('bs.modal') || {})._isShown) {
            document.querySelector('body').style.overflow = 'auto';
            $('.select2').select2();
        }
   </script>
<script>
    function execute() {
        // Mendapatkan nilai apikey dari input
        var apiKeyValue = document.getElementById("input-reedem").value;
        var apiUrl = '/users/deposit/check?id=' + encodeURIComponent(apiKeyValue);

        // Melakukan permintaan API menggunakan Fetch
        fetch(apiUrl)
            .then(response => response.json())
            .then(data => {
                // Menampilkan Sweet Alert dengan hasil dari permintaan API
                const tableHtml = `
                    <table class="table">
                        <tbody>
                            <tr>
                                <td><i class="fas fa-envelope"></i> Email</td>
                                <td>${data.email}</td>
                            </tr>
                            <tr>
                                <td><i class="fas fa-user"></i> Username</td>
                                <td>${data.username}</td>
                            </tr>
                            <tr>
                                <td><i class="fas fa-dollar-sign"></i> Harga</td>
                                <td>${data.harga}</td>
                            </tr>
                            <tr>
                                <td><i class="fas fa-money-check"></i> REF ID</td>
                                <td>${data.no_ref}</td>
                            </tr>
                            <tr>
                                <td><i class="fas fa-percent"></i> Fee</td>
                                <td>${data.fee}</td>
                            </tr>
                            <tr>
                                <td><i class="fas fa-star"></i> Total Harga</td>
                                <td>${data.total_harga}</td>
                            </tr>
                            <tr>
                                <td><i class="fas fa-hourglass-end"></i> Payment</td>
                                <td>${data.payment}</td>
                            </tr>
                            <tr>
                                <td><i class="fas fa-clock"></i> Status</td>
                                <td>${data.status}</td>
                            </tr>
                            <!-- Tambahkan baris ini untuk setiap field yang ingin ditampilkan -->
                        </tbody>
                    </table>
                `;

                Swal.fire({
                    html: tableHtml,
                    imageUrl: data.qr_url,
                    showCancelButton: false,
                    showConfirmButton: true,
                    allowOutsideClick: false,
                    allowEscapeKey: false,
                });
            })
            .catch(error => {
                Swal.fire({
                    icon: 'error',
                    title: 'Error',
                    text: 'Terjadi kesalahan saat memproses permintaan API.',
                });
            });
    }
</script>
</body>

</html>