
<div class="loader-bg">
	<div class="loadingio-spinner-typing-xprgxbsyl4">
		<div class="ldio-b5rzs5omc1l">
			<div style="left:30.150000000000002px;background:#ffffff;animation-delay:-0.37499999999999994s;"></div>
			<div style="left:50.25px;background:#ffffff;animation-delay:-0.28124999999999994s;"></div>
			<div style="left:70.35000000000001px;background:#ffffff;animation-delay:-0.18749999999999997s;"></div>
			<div style="left:90.45px;background:#ffffff;animation-delay:-0.09374999999999999s;"></div>
		</div>
	</div>
</div>
<!-- [ Pre-loader ] End -->
<div class="auth-main">
	<div class="auth-wrapper v1">
<div class="auth-form">
	<div class="card my-5">
		<div class="card-body">
			<div class="text-center">
				<a href="/" class="fs-3 hero-text-gradient fw-bolder">
					<img src="https://i.ibb.co.com/KDNkssr/IMG-20240603-173706-729.jpg" width="60"><br>
					Hosei APIs                   </a>
			</div>
			<div class="saprator my-3">
				<span>Masuk</span>
			</div>
			<h5 class="text-center text-muted f-w-500 mb-3">Custom Apikey</h5>
			<form method="POST" action="/admin/custom">
				<input type="hidden" name="csrf_token"
					value="832945475286a0e4eb3343ed522e2815" />
									<div class="form-group mb-3">
										
					<input type="text" class="form-control "
						name="username" id="username" placeholder="Hosei" value="">
										</div>
				<div class="form-group mb-3">
					<input type="text" name="customKey"
						class="form-control pe-5 "
						placeholder="customKey" id="customKey" value="">
										</div>
				<div class="mt-3" style="margin: 0 auto;display: table">                  </div>
				<div class="d-grid mt-3">
					<button type="submit" class="btn btn-primary">Masuk</button>
				</div>
			</form>
			<div class="d-flex justify-content-between align-items-end mt-3">
				<h6 class="f-w-500 mb-0">Belum punya akun?</h6>
				<a href="/users/register" class="link-primary">Daftar Sekarang</a>
			</div>
		</div>
	</div>
</div>
</div>    </div>