

    <!-- [ Main Content ] start -->
    <!-- [ Pre-loader ] start -->
    <div class="loader-bg">
        <div class="loadingio-spinner-typing-xprgxbsyl4">
            <div class="ldio-b5rzs5omc1l">
                <div style="left:30.150000000000002px;background:#ffffff;animation-delay:-0.37499999999999994s;"></div>
                <div style="left:50.25px;background:#ffffff;animation-delay:-0.28124999999999994s;"></div>
                <div style="left:70.35000000000001px;background:#ffffff;animation-delay:-0.18749999999999997s;"></div>
                <div style="left:90.45px;background:#ffffff;animation-delay:-0.09374999999999999s;"></div>
            </div>
        </div>
    </div>
    <!-- [ Pre-loader ] End -->

    <!-- [ Header ] start -->
    <!-- <header id="home" style="background-image: url(assets/images/landing/img-headerbg.jpg)"> -->
    <header id="home" style="background-image: url(/images/bg.jpeg)">
        <!-- [ Nav ] start -->
        <nav class="navbar navbar-expand-md navbar-light default">
            <div class="container">
                <a class="navbar-brand my-0 py-0 fs-3 fw-bolder hero-text-gradient" href="/docs">
                <img src="https://i.ibb.co.com/KDNkssr/IMG-20240603-173706-729.jpg" width="30"> Hosei</a>
                <button class="navbar-toggler rounded" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0 align-items-start">
                        <li class="nav-item dropdown px-1">
                            
                                                    <li class="nav-item px-1">
                                <a class="nav-link" href="/users/register">Daftar</a>
                            </li>
                                                <li class="nav-item px-1">
                            <a class="nav-link" href="/users/login">Masuk</a>
                        </li>
                        <!-- <li class="nav-item">
                            <a class="btn btn btn-primary" href="https://herupedia.id/auth/login">Masuk</a>
                        </li> -->
                    </ul>
                </div>
            </div>
        </nav>
        <!-- [ Nav ] end -->
        <!-- [ Container ] start -->
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-10 text-center">
                    <h1 class="mb-4 wow fadeInUp" data-wow-delay="0.2s"><span class="hero-text-gradient">Hosei</span> APIs</h1>
                    <div class="row justify-content-center wow fadeInUp" data-wow-delay="0.3s">
                        <div class="col-md-8">
                            <p class="text-muted f-16 mb-0">Hosei adalah sebuah Provides API yang menyediakan berbagai banyak fitur API yang bisa di gunakan untuk bot development, web development, etc.</p>
                        </div>
                    </div>
                    <div class="my-4 my-sm-5 wow fadeInUp" data-wow-delay="0.4s">
                                                    <a href="/users/register" class="btn btn-outline-secondary me-2">Daftar</a>
                                                <a href="/users/login" class="btn btn-primary">Masuk</a>
                    </div>
                    <div class="row g-5 justify-content-center text-center wow fadeInUp" data-wow-delay="0.5s">
                        <div class="col-auto head-rating-block">
                            <div class="star mb-2">
                                <i class="fas fa-star text-warning"></i>
                                <i class="fas fa-star text-warning"></i>
                                <i class="fas fa-star text-warning"></i>
                                <i class="fas fa-star text-warning"></i>
                                <i class="fas fa-star-half-alt text-warning"></i>
                            </div>
                            <h4 class="mb-0">4.7/325 <small class="text-muted f-w-400"> Ratings</small></h4>
                        </div>
                        <div class="col-auto">
                            <h5 class="mb-2"><small class="f-w-400">Pengguna Aktif</small></h5>
                            <h4 class="mb-0">532+</h4>
                        </div>
                        <div class="col-auto">
                            <h5 class="mb-2"><small class="f-w-400">Jumlah Feature</small></h5>
                            <h4 class="mb-0">150+</h4>
                        </div>
                        <div class="col-auto">
                            <h5 class="mb-2"><small class="f-w-400">Total Request</small></h5>
                            <h4 class="mb-0">22.583</h4>
                        </div>
                    </div>
                </div>
            </div>  
        </div>
          </section>
          
    </header>
    <footer class="footer" style="margin-top: -10rem;">
        <div class="border-bottom footer-center" style="padding: 0 0 !important;"></div>
        <div class="container">
            <div class="row align-items-center">
                <div class="col my-1 wow fadeInUp d-flex justify-content-center" data-wow-delay="0.4s">
                    <p class="mb-0">© 2023 <b><span class="hero-text-gradient">Hosei. </span></b> - With ♥ by <a href="https://instagram.com/xwan.store_" target="_blank"><b><span class="hero-text-gradient">Darmawan. </span></b></a></p>
                </div>
            </div>
        </div>
    </footer>