            
<body>
    <div class="form-wrapper">
        <main class="form-side">
            <a href="#" title="Logo">
            </a>
            <form class="my-form" method="POST" action="/users/newpassword/<%= token %>">
                <div class="form-welcome-row">
                    <h1>Welcome back 👏</h1>
                    <h2>Rest-API Hosei</h2>
                </div>
                <div class="divider">
                    <div class="divider-line"></div>
					
					<img src="https://i.ibb.co.com/KDNkssr/IMG-20240603-173706-729.jpg" alt="Hosei" width="50">
                    <div class="divider-line"></div>
                </div>
				<div class="text-field">
					<label for="password">Password</label>
					<input id="password" type="password" name="password" placeholder="Your password" title="Minimum 6 characters at least 1 Alphabet and 1 Number" required>
					<div class="error-message">Minimum 6 characters, at least 1 Alphabet, and 1 Number</div>
				</div>
			
				<div class="text-field">
					<label for="confirmPassword">Confirm Password</label>
					<input id="confirmPassword" type="password" name="confirmPassword" placeholder="Confirm password" title="Minimum 6 characters at least 1 Alphabet and 1 Number" required oninput="validatePassword()">
					<div id="passwordError" class="error-message"></div>
				</div>
                <button type="submit" class="my-form__button">
                Sumbit
                </button>
                <div class="my-form__actions">
                    
                </div>
            </form>
        </main>
        <aside class="info-side">
			<div class="blockquote-wrapper">
				<blockquote id="quote"></blockquote>
				<div class="author">
					<img img id="waifuImage" alt="Waifu Image">
					<span class="author-name" id="character"></span>
				</div>
			</div>
            </div>
        </aside>
    </div>
</body>
<%- include('layouts/errors2') %>
<%- include('layouts/msg2') %>